.detail{
  padding-top: 10px;
  .detail__cover{
    position: relative;
  }
  .gradient{
    position: absolute;
    top: 80%;
    left: 0;
    background-color: rgba(0, 0, 0,0.55);
    width: 100%;
    height: calc(390px - 80%);
  }
  img{
    width: 100%;
    height: 390px;
  }
}

.layout{
  padding: 0;
}
