header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .brand {
    display: flex;
    align-items: center;
  }

  img {
    padding: 0 6px 0 6px;
    height: 60px;
  }

  nav {
    display: flex;

    ul {
      display: flex;
      list-style: none;

      li {
        padding: 0 6px 0 6px;

        a {
          color: #fff;
          font-size: --var(--h3-font-size);
          text-transform: uppercase;

        }
      }
    }
  }
}

h1 {
  font-size: var(--big-font-size);
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, #f9d3b4 0%, #f9d3b400 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

a {
  font-weight: var(--font-medium);
  color: var(--link-color);
  text-decoration: inherit;
  word-wrap: break-word;
}

a:hover {
  color: var(--link-color-alt);
}

.search {
  width: 71%;
  margin: var(--mb-4) 0 var(--mb-2);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem;
  border-radius: 3rem;
  background: var(--input-color);
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;

  input {
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
    outline: none;
    color: var(--input-text-color);
    background: var(--input-color);
  }
}

.search:focus-within {
  box-shadow: 10px 10px 14px 0px #000000bf;
  -webkit-box-shadow: 10px 10px 14px 0px #000000bf;
  -moz-box-shadow: 10px 10px 14px 0px #000000bf;
}

.search img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}


svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.empty {
  width: 100%;
  margin-top: var(--mb-3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: var(--first-color);
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: var(--mb-3);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.view-anime {
  position: absolute;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  color: white;
  display: none;
}

.rating {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #343739;
  padding: 0 1rem;
}




.anime {
  width: 300px;
  height: 380px;
  margin: var(--mb-1-5);

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px #0000001a;

  div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 100%;
    top: 0;
  }

  div:nth-of-type(2) {
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  div:nth-of-type(3) {
    z-index: 2;
    padding: 16px 24px 24px 24px;
    display: none;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    span {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 500;
      color: #f0f0f0;
    }

    h3 {
      margin-top: 5px;
      font-family: 'Roboto Slab', serif;
      color: var(--first-color);
    }
  }
}

.anime:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  transform: scale(1.025, 1.025);
  cursor: pointer;

  div:nth-of-type(2) {
    height: 100%;
    opacity: 0.5;
  }

  div:nth-of-type(3) {
    display: block;
    background-color: #343739;
  }

  div:nth-of-type(1) {
    opacity: 1;
  }

  .view-anime {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .layout {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;

    input {
      font-size: var(--normal-font-size);
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .layout {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: var(--big-font-size);
  }

  .container {
    margin-top: var(--mb-2);
  }

  .anime {
    width: '100%';
    margin: var(--mb-1);
  }
}
